* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v4_2 {
  width: 100%;
  height: 1518px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v4_3 {
  width: 335px;
  height: 1483px;
  background: url("../images/v4_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 98px;
  overflow: hidden;
}
.v4_4 {
  width: 333px;
  height: 100%;
  background: rgba(177,231,166,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v4_5 {
  width: 335px;
  height: 111px;
  background: url("../images/v4_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 856px;
  left: 0px;
  overflow: hidden;
}
.v4_6 {
  width: 335px;
  height: 111px;
  background: url("../images/v4_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v4_7 {
  width: 335px;
  height: 32px;
  background: url("../images/v4_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v4_8 {
  width: 332px;
  height: 28px;
  background: rgba(248,234,175,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v4_9 {
  width: 331px;
  color: rgba(22,137,0,1);
  position: absolute;
  top: 3px;
  left: 3px;
  font-family: Inter;
  font-weight: Black Italic;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v4_10 {
  width: 333px;
  height: 30px;
  background: url("../images/v4_10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 0px;
  overflow: hidden;
}
.v4_11 {
  width: 333px;
  height: 28px;
  background: rgba(248,234,175,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v4_12 {
  width: 317px;
  color: rgba(22,137,0,1);
  position: absolute;
  top: 1px;
  left: 2px;
  font-family: Inter;
  font-weight: Black Italic;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v4_13 {
  width: 333px;
  height: 32px;
  background: url("../images/v4_13.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 79px;
  left: 0px;
  overflow: hidden;
}
.v4_14 {
  width: 333px;
  height: 28px;
  background: rgba(248,234,175,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v4_15 {
  width: 319px;
  color: rgba(22,137,0,1);
  position: absolute;
  top: 3px;
  left: 3px;
  font-family: Inter;
  font-weight: Black Italic;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v4_16 {
  width: 809px;
  height: 28px;
  background: url("../images/v4_16.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 418px;
  left: 527px;
  overflow: hidden;
}
.v4_17 {
  width: 809px;
  height: 28px;
  background: rgba(248,234,175,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v4_18 {
  width: 773px;
  color: rgba(22,137,0,1);
  position: absolute;
  top: 0px;
  left: 15px;
  font-family: Inter;
  font-weight: Black Italic;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v4_19 {
  width: 809px;
  height: 28px;
  background: url("../images/v4_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 649px;
  left: 531px;
  overflow: hidden;
}
.v4_20 {
  width: 809px;
  height: 28px;
  background: rgba(248,234,175,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v4_21 {
  width: 773px;
  color: rgba(22,137,0,1);
  position: absolute;
  top: 0px;
  left: 34px;
  font-family: Inter;
  font-weight: Black Italic;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v4_22 {
  width: 809px;
  height: 28px;
  background: url("../images/v4_22.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 888px;
  left: 527px;
  overflow: hidden;
}
.v4_23 {
  width: 809px;
  height: 28px;
  background: rgba(248,234,175,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v4_24 {
  width: 758px;
  color: rgba(22,137,0,1);
  position: absolute;
  top: 0px;
  left: 33px;
  font-family: Inter;
  font-weight: Black Italic;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v4_25 {
  width: 809px;
  height: 168px;
  background: url("../images/v4_25.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 464px;
  left: 527px;
  overflow: hidden;
}
.v4_26 {
  width: 809px;
  height: 168px;
  background: rgba(242,214,233,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v4_27 {
  width: 771px;
  color: rgba(22,137,0,1);
  position: absolute;
  top: 66px;
  left: 38px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v4_28 {
  width: 771px;
  color: rgba(22,137,0,1);
  position: absolute;
  top: 90px;
  left: 38px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v4_29 {
  width: 771px;
  color: rgba(22,137,0,1);
  position: absolute;
  top: 114px;
  left: 38px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v4_30 {
  width: 771px;
  color: rgba(22,137,0,1);
  position: absolute;
  top: 138px;
  left: 38px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v4_31 {
  width: 772px;
  color: rgba(22,137,0,1);
  position: absolute;
  top: 13px;
  left: 23px;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v4_32 {
  width: 809px;
  height: 168px;
  background: url("../images/v4_32.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 698px;
  left: 531px;
  overflow: hidden;
}
.v4_33 {
  width: 809px;
  height: 168px;
  background: rgba(242,214,233,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v4_34 {
  width: 770px;
  color: rgba(22,137,0,1);
  position: absolute;
  top: 13px;
  left: 24px;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v4_35 {
  width: 771px;
  color: rgba(22,137,0,1);
  position: absolute;
  top: 61px;
  left: 34px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v4_36 {
  width: 771px;
  color: rgba(22,137,0,1);
  position: absolute;
  top: 85px;
  left: 34px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v4_37 {
  width: 771px;
  color: rgba(22,137,0,1);
  position: absolute;
  top: 109px;
  left: 34px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v4_38 {
  width: 771px;
  color: rgba(22,137,0,1);
  position: absolute;
  top: 133px;
  left: 34px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v4_39 {
  width: 810px;
  height: 168px;
  background: url("../images/v4_39.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 937px;
  left: 531px;
  overflow: hidden;
}
.v4_40 {
  width: 809px;
  height: 168px;
  background: rgba(242,214,233,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v4_41 {
  width: 776px;
  color: rgba(22,137,0,1);
  position: absolute;
  top: 8px;
  left: 18px;
  font-family: Inter;
  font-weight: Bold Italic;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v4_42 {
  width: 776px;
  color: rgba(22,137,0,1);
  position: absolute;
  top: 38px;
  left: 34px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v4_43 {
  width: 776px;
  color: rgba(22,137,0,1);
  position: absolute;
  top: 60px;
  left: 34px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v4_44 {
  width: 776px;
  color: rgba(22,137,0,1);
  position: absolute;
  top: 83px;
  left: 34px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v4_45 {
  width: 776px;
  color: rgba(22,137,0,1);
  position: absolute;
  top: 105px;
  left: 34px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v4_46 {
  width: 809px;
  height: 214px;
  background: url("../images/v4_46.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1117px;
  left: 531px;
  overflow: hidden;
}
.v4_47 {
  width: 809px;
  height: 214px;
  background: rgba(242,214,233,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v4_48 {
  width: 770px;
  color: rgba(22,137,0,1);
  position: absolute;
  top: 13px;
  left: 24px;
  font-family: Inter;
  font-weight: Bold Italic;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v4_49 {
  width: 771px;
  color: rgba(22,137,0,1);
  position: absolute;
  top: 52px;
  left: 34px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v4_50 {
  width: 771px;
  color: rgba(22,137,0,1);
  position: absolute;
  top: 76px;
  left: 34px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v4_51 {
  width: 771px;
  color: rgba(22,137,0,1);
  position: absolute;
  top: 99px;
  left: 34px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v4_52 {
  width: 771px;
  color: rgba(22,137,0,1);
  position: absolute;
  top: 123px;
  left: 34px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v4_53 {
  width: 771px;
  color: rgba(22,137,0,1);
  position: absolute;
  top: 146px;
  left: 34px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v4_54 {
  width: 771px;
  color: rgba(22,137,0,1);
  position: absolute;
  top: 170px;
  left: 34px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v4_58 {
  width: 793px;
  color: rgba(22,137,0,1);
  position: absolute;
  top: 172px;
  left: 527px;
  font-family: Inter;
  font-weight: Black;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v4_59 {
  width: 100%;
  height: 96px;
  background: rgba(248,234,175,1);
  opacity: 1;
  position: absolute;
  top: 57px;
  left: 0px;
}
.v4_60 {
  width: 474px;
  height: 98px;
  background: url("../images/v4_60.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 46px;
  left: 101px;
  overflow: hidden;
}
.v4_61 {
  width: 474px;
  height: 98px;
  background: url("../images/v4_61.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v4_62 {
  width: 474px;
  color: rgba(22,137,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Black Italic;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.v4_63 {
  width: 330px;
  height: 397px;
  background: url("../images/v4_63.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 385px;
  left: 101px;
  overflow: hidden;
}
