* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v4_2 {
  width: 100%;
  height: 1518px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v4_3 {
  width: 340px;
  height: 1483px;
  background: url("../images/v4_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 98px;
  overflow: hidden;
}
.v4_4 {
  width: 333px;
  height: 100%;
  background: rgba(177,231,166,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v4_5 {
  width: 340px;
  height: 110px;
  background: url("../images/v4_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 854px;
  left: 0px;
  overflow: hidden;
}
.v4_6 {
  width: 340px;
  height: 110px;
  background: url("../images/v4_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v4_7 {
  width: 340px;
  height: 37px;
  background: url("../images/v4_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v4_8 {
  width: 332px;
  height: 28px;
  background: rgba(248,234,175,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 0px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v4_9 {
  width: 331px;
  color: rgba(22,137,0,1);
  position: absolute;
  top: 0px;
  left: 9px;
  font-family: Pacifico;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v4_10 {
  width: 333px;
  height: 31px;
  background: url("../images/v4_10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 0px;
  overflow: hidden;
}
.v4_11 {
  width: 333px;
  height: 28px;
  background: rgba(248,234,175,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v4_12 {
  width: 173px;
  color: rgba(22,137,0,1);
  position: absolute;
  top: 0px;
  left: 9px;
  font-family: Pacifico;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v4_13 {
  width: 333px;
  height: 28px;
  background: url("../images/v4_13.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 82px;
  left: 0px;
  overflow: hidden;
}
.v4_14 {
  width: 333px;
  height: 28px;
  background: rgba(248,234,175,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v4_15 {
  width: 135px;
  color: rgba(22,137,0,1);
  position: absolute;
  top: 0px;
  left: 6px;
  font-family: Pacifico;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v4_16 {
  width: 809px;
  height: 47px;
  background: url("../images/v4_16.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 398px;
  left: 530px;
  overflow: hidden;
}
.v4_17 {
  width: 809px;
  height: 28px;
  background: rgba(248,234,175,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 0px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v4_18 {
  width: 774px;
  color: rgba(22,137,0,1);
  position: absolute;
  top: 0px;
  left: 14px;
  font-family: Pacifico;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v4_19 {
  width: 809px;
  height: 47px;
  background: url("../images/v4_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 659px;
  left: 532px;
  overflow: hidden;
}
.v4_20 {
  width: 809px;
  height: 28px;
  background: rgba(248,234,175,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 0px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v4_21 {
  width: 774px;
  color: rgba(22,137,0,1);
  position: absolute;
  top: 0px;
  left: 10px;
  font-family: Pacifico;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v4_22 {
  width: 809px;
  height: 37px;
  background: url("../images/v4_22.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 902px;
  left: 527px;
  overflow: hidden;
}
.v4_23 {
  width: 809px;
  height: 28px;
  background: rgba(248,234,175,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 0px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v4_24 {
  width: 759px;
  color: rgba(22,137,0,1);
  position: absolute;
  top: 0px;
  left: 15px;
  font-family: Pacifico;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v4_25 {
  width: 809px;
  height: 189px;
  background: url("../images/v4_25.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 466px;
  left: 530px;
  overflow: hidden;
}
.v4_26 {
  width: 809px;
  height: 189px;
  background: rgba(242,214,233,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v4_27 {
  width: 771px;
  color: rgba(22,137,0,1);
  position: absolute;
  top: 50px;
  left: 17px;
  font-family: Pacifico;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v4_28 {
  width: 771px;
  color: rgba(22,137,0,1);
  position: absolute;
  top: 77px;
  left: 17px;
  font-family: Pacifico;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v4_29 {
  width: 771px;
  color: rgba(22,137,0,1);
  position: absolute;
  top: 104px;
  left: 17px;
  font-family: Pacifico;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v4_30 {
  width: 771px;
  color: rgba(22,137,0,1);
  position: absolute;
  top: 131px;
  left: 17px;
  font-family: Pacifico;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v4_31 {
  width: 772px;
  color: rgba(22,137,0,1);
  position: absolute;
  top: 11px;
  left: 14px;
  font-family: Pacifico;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v4_32 {
  width: 809px;
  height: 168px;
  background: url("../images/v4_32.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 727px;
  left: 532px;
  overflow: hidden;
}
.v4_33 {
  width: 809px;
  height: 168px;
  background: rgba(242,214,233,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v4_34 {
  width: 770px;
  color: rgba(22,137,0,1);
  position: absolute;
  top: 12px;
  left: 15px;
  font-family: Pacifico;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v4_35 {
  width: 771px;
  color: rgba(22,137,0,1);
  position: absolute;
  top: 50px;
  left: 19px;
  font-family: Pacifico;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v4_36 {
  width: 771px;
  color: rgba(22,137,0,1);
  position: absolute;
  top: 74px;
  left: 19px;
  font-family: Pacifico;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v4_37 {
  width: 771px;
  color: rgba(22,137,0,1);
  position: absolute;
  top: 98px;
  left: 19px;
  font-family: Pacifico;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v4_38 {
  width: 771px;
  color: rgba(22,137,0,1);
  position: absolute;
  top: 122px;
  left: 19px;
  font-family: Pacifico;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v4_39 {
  width: 809px;
  height: 168px;
  background: url("../images/v4_39.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 967px;
  left: 532px;
  overflow: hidden;
}
.v4_40 {
  width: 809px;
  height: 168px;
  background: rgba(242,214,233,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v4_41 {
  width: 776px;
  color: rgba(22,137,0,1);
  position: absolute;
  top: 8px;
  left: 19px;
  font-family: Pacifico;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v4_42 {
  width: 776px;
  color: rgba(22,137,0,1);
  position: absolute;
  top: 47px;
  left: 18px;
  font-family: Pacifico;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v4_43 {
  width: 776px;
  color: rgba(22,137,0,1);
  position: absolute;
  top: 69px;
  left: 18px;
  font-family: Pacifico;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v4_44 {
  width: 776px;
  color: rgba(22,137,0,1);
  position: absolute;
  top: 92px;
  left: 18px;
  font-family: Pacifico;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v4_45 {
  width: 776px;
  color: rgba(22,137,0,1);
  position: absolute;
  top: 114px;
  left: 18px;
  font-family: Pacifico;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v4_46 {
  width: 809px;
  height: 214px;
  background: url("../images/v4_46.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1149px;
  left: 532px;
  overflow: hidden;
}
.v4_47 {
  width: 809px;
  height: 214px;
  background: rgba(242,214,233,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v4_48 {
  width: 770px;
  color: rgba(22,137,0,1);
  position: absolute;
  top: 7px;
  left: 22px;
  font-family: Pacifico;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v4_49 {
  width: 771px;
  color: rgba(22,137,0,1);
  position: absolute;
  top: 49px;
  left: 18px;
  font-family: Pacifico;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v4_50 {
  width: 771px;
  color: rgba(22,137,0,1);
  position: absolute;
  top: 73px;
  left: 18px;
  font-family: Pacifico;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v4_51 {
  width: 771px;
  color: rgba(22,137,0,1);
  position: absolute;
  top: 96px;
  left: 18px;
  font-family: Pacifico;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v4_52 {
  width: 771px;
  color: rgba(22,137,0,1);
  position: absolute;
  top: 120px;
  left: 18px;
  font-family: Pacifico;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v4_53 {
  width: 771px;
  color: rgba(22,137,0,1);
  position: absolute;
  top: 143px;
  left: 18px;
  font-family: Pacifico;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v4_54 {
  width: 771px;
  color: rgba(22,137,0,1);
  position: absolute;
  top: 167px;
  left: 18px;
  font-family: Pacifico;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v4_58 {
  width: 793px;
  color: rgba(22,137,0,1);
  position: absolute;
  top: 195px;
  left: 527px;
  font-family: Pacifico;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v4_59 {
  width: 100%;
  height: 124px;
  background: rgba(248,234,175,1);
  opacity: 1;
  position: absolute;
  top: 57px;
  left: 0px;
}
.v4_60 {
  width: 414px;
  height: 214px;
  background: url("../images/v4_60.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 100px;
  overflow: hidden;
}
.v4_61 {
  width: 414px;
  height: 214px;
  background: url("../images/v4_61.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v4_62 {
  width: 414px;
  color: rgba(22,137,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Pacifico;
  font-weight: Regular;
  font-size: 89px;
  opacity: 1;
  text-align: left;
}
.v4_63 {
  width: 333px;
  height: 397px;
  background: url("../images/v4_63.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 387px;
  left: 98px;
  overflow: hidden;
}
.v11_2 {
  width: 809px;
  height: 2px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 450px;
  left: 528px;
  border: 1px solid rgba(0,0,0,0.949999988079071);
  overflow: hidden;
}
.v11_56 {
  width: 809px;
  height: 2px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 711px;
  left: 534px;
  border: 1px solid rgba(0,0,0,0.949999988079071);
  overflow: hidden;
}
.v11_57 {
  width: 809px;
  height: 2px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 951px;
  left: 532px;
  border: 1px solid rgba(0,0,0,0.949999988079071);
  overflow: hidden;
}
